<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black&White</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Black & White Spa</h1>
    <p>Introduce la URL de una imagen para convertirla a blanco y negro:</p>

    <form action="/cargar">
        <input type="text" id="img" name="img" required>
        <button type="submit">Subir imagen al servidor</button>
    </form>
</body>
</html>